# Python cache and byte-compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.venv*/
venv*/
env*/

# ML/Data Engineering artifacts and databases
mlruns/
mlflow.db
artifacts/
data/processed/
data/raw/

# IDE configurations
.vscode/
.idea/
*.swp